/* IMPORT FONT GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* IMPORT ICON BOOTSTRAP */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* VARIAVEIS DE AMBIENTE */
:root {

    --gray-primary: #e9e9e9;
    --gray-secondary: #fbfbfb;
    --gray-option: #e0e0de;

    --black-primary: #495057;
    --black-secondary: #bbc2c9;

    --green-primary: #9eeaf9;
    --green-secondary: #dcf2f7;
    --grenn-option: #00a884;
    --blue-primary: #0a58ca33;

    --yellow-primary: #ffc107;
}

/* RESETA TODOS OS ELEMENTOS */
* {
    margin: 0px;
    padding: 0px;
    cursor: default;
}
a {
    cursor: pointer;
}

/* ICOM STAR */
.bi-star-fill {
    color: var(--yellow-primary);
}
/* ICON BALLOOM */
.bi-balloon-fill {
    color: #e5143d;
}

/* BODY */
body {
    height: 100vh;
    background: var(--gray-option) !important;
}

/* LISTA SOBRE */
ul,ol {
    list-style: none;
    padding: 0px !important;
    margin: 0px !important;
}
ul:nth-child(1) > li {
    padding: 0px;
    margin: 0px;
}

/* ALL INPUTS */
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    border-color: transparent !important;
    outline: 0;
    border-bottom: 3px solid var(--gray-primary);
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 1%) !important;
}

/* DIV STYLE FUNDO */
.divDownPage:nth-child(1) {
    z-index: -100;
    position: absolute;
    width: 100%;
    height: 40vh;
    background: var(--grenn-option);
}

/* ROW IMAGEM */
.container > .row > .col:nth-child(1) {
    padding: 0px;
} /* BOX IMAGEM + NOME */
.container > .row > .col:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    border-right: 4px solid var(--gray-primary);
} /* APENAS IMAGEM */
.container > .row > .col:nth-child(1) > div:nth-child(1) {
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
    border: 4px solid var(--gray-primary);
    width: 100%;
    background: var(--gray-secondary);
    justify-content: flex-start;
} /* IMAGEM + NOME*/
.container > .row > .col:nth-child(1) > div:nth-child(1) > div:nth-child(2) > h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: max(18pt, 3vw) ;
} /* NOME > FONT */
.container > .row > .col:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    margin: 0 0 0 calc(20px + 4vw);
} /* NOME */

.container > .row > .col:nth-child(2n+2) > div > div:nth-child(2n+2) {
    background: white;
} /* CONTAINER DIREITO */
.col:nth-child(2n+2) > ul > li > label {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: max(3vw, 20pt);
    color: var(--black-primary);
} /* LISTA A DIREITA COM MAIS DETALHE */
.col:nth-child(2n+2) > ul > li:nth-child(3n) {
    display: flex;
    justify-content: space-between;
} /* SEGUNDO ELEMENTO DO BOX DETALHADO */
.col:nth-child(2n+2) > ul > li:nth-child(2n) {
    margin: 10px 0 10px 0px;
    padding: 0 0 0 10px;
    border-left: 4px solid var(--green-primary);
    background: #cff4fc;
} /* TERCEIRO ITEM DO BOX DETALHADO */
.col:nth-child(2n+2) > ul > li:nth-child(2n) > div:nth-child(1) {
    padding: 10px 10px 10px 0;
}
.col:nth-child(2n+2) > ul > li:nth-child(2n) > div:nth-child(2) {
    padding: 0 10px 10px 0;
} /* BOX INPUT FILTER APITIDAO */
.col:nth-child(2n+2) > ul > li:nth-child(2n) > div:nth-child(2) > div > input {
    border-radius: 0px;
    border-bottom: 3px solid var(--gray-primary);
} /* INPUT FILTER APITIDAO */

.col:nth-child(2n+1) > ul {
    position: sticky;
    top: 10px;
} /* LISTAS DADOS PESSOAIS ACOMPANHAR SCROLL */
.col:nth-child(2n+1) > ul > li > label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    color: var(--black-primary);
    background: var(--black-secondary);
} /* LISTA A ESQUERDA COM DADOS PESSOAIS [LABEL] */
.col:nth-child(2n+1) > ul > li:nth-child(2n+2) {
    padding: 5px 10px 4px 10px;
    background: var(--blue-primary);
    border-radius: 0 10px 10px 10px;
    border-bottom: 3px solid var(--gray-primary);
    margin: 0 0 10px 0;
} /* LISTA A ESQUERDA COM DADOS PESSOAIS [LI -> CHILD] */
.col:nth-child(2n+1) > ul > li:nth-child(2n+2) > div {
    display: flex;
    justify-content: space-between;
} /* ITEM IDIOMAS */
.col:nth-child(2n) > ul > li:nth-child(3n+5) {
    padding: 0px;
} /* ITEM TEXTO DIREITA COM DADOS PESSOAIS */
.col:nth-child(2n) > ul > ul:nth-child(3n+5) {
    margin: 0 0 0 0 !important;
    min-height: 500px;
} /* LISTA APTIDAO */
.col:nth-child(2n) > ul > ul:nth-child(3n+5) > ol {
    padding: 10px !important;
    display: flex;
    justify-content: space-between;
    background: var(--gray-secondary);
} /* ELEMENTOS LISTA APTIDAO */
.col:nth-child(2n) > ul > ul:nth-child(3n+5) > ol:nth-child(2n):not(.collapse) {
    background: var(--gray-option);
    border-bottom: 4px solid var(--black-secondary);
} /* ELEMENTO LISTA APTIDAO 2° COLOR */
.container > .row > .col:nth-child(2n+2) > div > div:nth-child(2n+1) {
    background: var(--gray-secondary);
    padding: 10px;
} /* CONTAINER ESQUERDO */
.container > .row > .col:nth-child(2n+2) > div > div:nth-child(1) {
    padding: 10px;
    border-top: 3px solid var(--gray-primary);
} /* PRIMEIRO ITEM DADOS PESSOAIS ESQUERDO */
.container > .row > .col:nth-child(2n+2) > div > div:nth-child(2n+2) {
    padding: 10px;
    border-top: 3px solid var(--gray-primary);
    
} /* CONTAINER LINHA MULTIPLO DE 2 */

.container > .row > .col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}